@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CentraNo1';
  src: url('#{$font-path}/CentraNo1/CentraNo1-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CentraNo1';
  src: url('#{$font-path}/CentraNo1/CentraNo1-BookItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'CentraNo1';
  src: url('#{$font-path}/CentraNo1/CentraNo1-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CentraNo1';
  src: url('#{$font-path}/CentraNo1/CentraNo1-MediumItalic.woff2')
    format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CentraNo1';
  src: url('#{$font-path}/CentraNo1/CentraNo1-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CentraNo1';
  src: url('#{$font-path}/CentraNo1/CentraNo1-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
