@import 'tailwindcss';
@import '../../packages/design-system-tailwind-preset/src/theme.css';

/* Scan the design system component library for utility classes */
@source "../../packages/design-system-react";

/* Geist */
@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Geist/Geist Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/Geist/Geist Regular Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/Geist/Geist Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/Geist/Geist Medium Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/Geist/Geist Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/Geist/Geist Bold Italic.woff2') format('woff2');
}

/* MM Sans */
@font-face {
  font-family: 'MMSans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/MMSans/MM Sans Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MMSans';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/MMSans/MM Sans Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'MMSans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/MMSans/MM Sans Bold.woff2') format('woff2');
}

/* MM Poly */
@font-face {
  font-family: 'MMPoly';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/MMPoly/MM Poly Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MMPoly';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/MMPoly/MM Poly Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'MMPoly';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/MMPoly/MM Poly Regular.woff2') format('woff2');
}
