name: Chromatic Visual Regression

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  chromatic:
    name: Publish to Chromatic
    runs-on: ubuntu-latest
    env:
      CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
    steps:
      - name: Checkout and setup environment
        uses: MetaMask/action-checkout-and-setup@v1
        with:
          is-high-risk-environment: false
          skip-allow-scripts: true
      - name: Build required packages
        if: ${{ env.CHROMATIC_PROJECT_TOKEN != '' }}
        run: yarn build
      - name: Run Chromatic
        if: ${{ env.CHROMATIC_PROJECT_TOKEN != '' }}
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          workingDir: apps/storybook-react
          exitZeroOnChanges: true
          autoAcceptChanges: false
